ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.header2 {
  padding: 3px;
  background-color: black;
}
