<header class="header2">
  <div class="po-font-text">
    <po-dropdown p-label="Rio de janeiro " [p-actions]="[{ label: 'Exemplo', url: 'https://www.google.com/' }]">
    </po-dropdown>
  </div>
</header>
<div>
  <header class="header">
    <a href="/"> logo </a>
    <nav>
      <ul class="menu">
        <li>
          <po-dropdown p-label="Tv por Assinatura" [p-actions]="[{ label: 'Planos', url: 'http://localhost:4200/tv-assinatura' }]">
          </po-dropdown>
          <po-dropdown p-label="Planos de internet" [p-actions]="[{ label: 'Planos', url: 'http://localhost:4200/planos-internet' }]">
          </po-dropdown>
          <po-dropdown p-label="Planos de celular" [p-actions]="[{ label: 'Planos', url: 'http://localhost:4200/planos-celular' }]">
          </po-dropdown>
          <po-dropdown p-label="Empresas" [p-actions]="[{ label: 'Empresas', url: 'http://localhost:4200/empresas' }]">
          </po-dropdown>
          <po-dropdown p-label="atendimento " [p-actions]="[{ label: 'Atendimento', url: 'http://localhost:4200/atendimento' }]">
          </po-dropdown>
        </li>
      </ul>

    </nav>
  </header>
</div>
